@font-face {
    font-family: Schoolbell-Regular;
    src: url(Schoolbell-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Schoolbell-Regular;
}

body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    padding: 64px 32px 64px 32px;
}

main{
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    margin: auto;
    background-color: #ffffff;
    border-radius: 12px;
    border: 3px solid black;
}

section{
    padding: 32px;
}

nav{
    margin-bottom: 60px;
    color: #8d5b1a;
   text-align: center;
}

a{
    color: #8d5b1a;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: #feda70;
    border: 3px solid black;
    
}

h1{
    font-size: 28px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2{
    font-size: 56px;
    font-weight: 400;
    padding-bottom: 50px;
}


span{
    color: #8d5b1a;
}

p{
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}

article{
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
}

article img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}




table{
    max-width: 1080px;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    
}

tr,
th,
td{
    padding: 12px;
    border: 1px solid black;
}


th{
    background-color: #8d5b1a;
    color: #feda70;
}

tr:nth-child(even){
    background-color: #8d5b1a;
    color: #feda70;
}

tr:nth-child(odd){
   background-color: #feda70;
   color: black;
}



footer{
    background-color: #8d5b1a;
    color: #feda70;
    max-width: 1080px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
}
